<br/>
<br/>
<div class="fields">
<dt><%= f.label :question, ts("Question") %></dt>
<dd><%= f.text_field :question, :id => "question" %>
  <%= live_validation_for_field('question', :failureMessage => ts("Please enter a Question")) %>
</dd>
<dt><%= f.label :anchor, ts("Anchor name") %></dt>
<dd><%= f.text_field :anchor, :id => "anchor" %>
  <%= live_validation_for_field('anchor', :failureMessage => ts("Please enter an Anchor name.")) %>
</dd>
<!-- The Answer -->
<dt><%= f.label :answer, ts("Answer") %></dt>
<dd>  <p id="toggleText">
  <span id="plainTextNotes" style="display: inline"><%= allowed_html_instructions %></span>
  <span id="richTextNotes" style="display: none"><%= ts("Type or paste formatted text. Select the first icon  (clipboard with a 'W') to paste documents from Microsoft Word.") %></span>
    <span class="rtf-html-switch actions">
      <span id="richTextLink" style="display: inline"><a href="javascript:addEditor('answer');javascript:toggle();"><%= ts('Rich text') %></a></span>
      <span id="plainTextLink" style="display: none"><a href="javascript:removeEditor('answer');javascript:toggle();"><%= ts('HTML') %></a></span>
    <span>
</p>
  <% use_tinymce %>
  <div class="rtf-html-field">
    <%= f.text_area :answer, :class => "mce-editor observe_textlength", :id => "answer" %>
    <%= live_validation_for_field('answer',
                                  :maximum_length => ArchiveConfig.CONTENT_MAX, :minimum_length => ArchiveConfig.CONTENT_MIN,
                                  :tooLongMessage => ts("We salute your ambition! But sadly the content must be less than %{max} letters long.", :max => ArchiveConfig.CONTENT_MAX.to_s),
                                  :tooShortMessage => ts("Brevity is the soul of wit, but your content does have to be at least %{min} letters long.", :min => ArchiveConfig.CONTENT_MIN.to_s),
                                  :failureMessage => ts("You need to post some content here."))
    %>
    <%= generate_countdown_html("answer", ArchiveConfig.CONTENT_MAX) %>
<p class="actions" role="button">
  <% linktext = ts("Remove This Question") %>
  <%= link_to_remove_fields(linktext, f )%>
</p>
</dd>

</div>